<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="AmbryServer"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ant.core.antRunner"
            name="Ambry Server">
         <property
               name="appName"
               value="Ambry Server">
         </property>
      </product>
   </extension>

</plugin>
